* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: minmax(200px,1fr) 200px;
    grid-template-rows: 50px 300px 300px 300px 50px;
    grid-template-areas: 
    "he na"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "fo fo"
    ;
}

header {
    grid-area: he;
    background-color: rgb(128, 173, 128);
    display: flex;
    justify-content: left;
}

#titel {
    margin: 8px;
}

nav {
    grid-area: na;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(128, 173, 128);
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: rgb(128, 173, 128);
    position: absolute;
    right: 0px;
    top: -550.5px;
    width: 200px;
    list-style: none;
    transition: all 0.5s;
}

.nav-active {
    transform: translateY(600px);
}

#nav-links a {
    text-decoration: none;
    color: rgb(6, 6, 145);
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 180px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-links a:hover {
    color: white;
    background-color: rgb(7, 75, 7);
    transition: ease 0.4s;
}

#section_1_hem {
    grid-area: s1;
}

#hem_bild {
    width: 100%;
}

#section_2_hem {
    grid-area: s2;
    background-color: rgb(165, 202, 165);
}

#section_3_hem {
    grid-area: s3;
    background-color: rgb(165, 202, 165);
}

.sections_om_oss {
    background-color: rgb(165, 202, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}


#section_1_om_oss {
    grid-area: s1;
}

#section_2_om_oss {
    grid-area: s2;
}

#section_3_om_oss {
    grid-area: s3;
}

.articles_om_oss {
    background-color: rgb(128, 173, 128);
    border-radius: 15%;
    padding: 5%;
    margin: 10px;
    height: 200px;
}

.sections_kost{
    background-color: rgb(165, 202, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_1_kost {
    grid-area: s1;
}

#section_2_kost {
    grid-area: s2;
}

#section_3_kost {
    grid-area: s3;
}

.kost_bilder {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
}

.articles_kost {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.divs_kost {
    display: flex;
    flex-direction: column;
}

.sections_traning {
    background-color: rgb(165, 202, 165);
    display: flex;
    align-items: center;
}

#section_1_traning {
    grid-area: s1;
    display: flex;
    justify-content: left;
}

#section_2_traning {
    grid-area: s2;
    display: flex;
    justify-content: right;
}

#section_3_traning {
    grid-area: s3;
    display: flex;
    justify-content: left;
}

footer {
    grid-area: fo;
    background-color: rgb(128, 173, 128);
}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4.5px;
    border-radius: 10%;
    transition: all 0.5s;
}


.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

#burger {
    margin-right: 87.5px;
    cursor: pointer;
}