* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.4px;
}

#grid_wrapper {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: minmax(200px,1fr) 200px;
    grid-template-rows: 50px 300px 300px 300px 100px;
    grid-template-areas: 
    "he na"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "fo fo"
    ;
}

header {
    grid-area: he;
    background-color: rgb(128, 173, 128);
    display: flex;
    justify-content: left;
}

#titel {
    margin: 8px;
}

nav {
    grid-area: na;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgb(128, 173, 128);
}

#nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    background-color: rgb(128, 173, 128);
    position: absolute;
    right: 0px;
    top: -550.5px;
    width: 200px;
    list-style: none;
    transition: all 0.5s;
}

.nav-active {
    transform: translateY(600px);
}

#nav-links a {
    text-decoration: none;
    color: black;
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.25rem;
    text-transform: uppercase;
    width: 180px;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-links a:hover {
    color: white;
    background-color: rgb(7, 75, 7);
    transition: ease 0.4s;
}

.articles_hem {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#knapp_hem {
    background-color: rgb(128, 173, 128);
    margin: 23px;
    padding: 30px;
    border-radius: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

#knapp_hem a:hover {
    color: white;
    transition: ease 0.4s;
}

#hem_bild {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#section_1_hem {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section_2_hem {
    grid-area: s2;
    padding: 10px;
    display: flex;
    align-items: center;
}

#section_3_hem {
    grid-area: s3;
    padding: 10px;
}

.sections_hem {
    background-color: rgb(165, 202, 165);
}

.sections_om_oss {
    background-color: rgb(165, 202, 165);
    display: flex;
    align-items: center;
    justify-content: center;
}

#section_1_om_oss {
    grid-area: s1;
}

#section_2_om_oss {
    grid-area: s2;
}

#section_3_om_oss {
    grid-area: s3;
}

#bild_om_oss {
    height: 175px;
    width: auto;
}

.articles_om_oss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15%;
    padding: 25px;
    margin: 20px;
    height: 250px;
    width: 100%;
    border: rgb(66, 90, 66) solid 7px;
}

#article_hitta2_om_oss {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lista_kontakta_oss {
    margin-left: 15px;
}

.sections_kost{
    background-color: rgb(165, 202, 165);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_1_kost {
    grid-area: s1;
}

#section_2_kost {
    grid-area: s2;
}

#section_3_kost {
    grid-area: s3;
}

.kost_bilder {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
}

.divs_kost {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.articles_kost {
    display: flex;
    flex-direction: column;
}

.sections_traning {
    background-color: rgb(165, 202, 165);
    display: flex;
    align-items: center;
}

#section_1_traning {
    grid-area: s1;
    display: flex;
    justify-content: left;
}

#section_2_traning {
    grid-area: s2;
    display: flex;
    justify-content: right;
}

#section_3_traning {
    grid-area: s3;
    display: flex;
    justify-content: left;
}

.articles_traning {
    margin: 15px;
    background-color: rgb(128, 173, 128);
    padding: 15px;
    border-radius: 5px 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bilder_traning {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
}

footer {
    grid-area: fo;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(128, 173, 128);
}

#footer_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#footer_links a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
}

#footer_links a:hover {
    color: white;
    transition: ease 0.4s;
}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4.5px;
    border-radius: 10%;
    transition: all 0.5s;
}


.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

#burger {
    margin-right: 20px;
    cursor: pointer;
}


@media screen and (min-width: 800px) {

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #burger {
        display: none;
    }
        
    #grid_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 300px 300px 300px 100px;
        grid-template-areas: 
        "he he"
        "na na"
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "fo fo"
        ;
    }

    #nav-links {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100px;
        background-color:rgb(128, 173, 128);
        position: absolute;
        left: 0px;
        top: 100px;
        width: 100%;
        transition: none;
    }

    #nav-links a {
        color: black;
    }

    #nav-links a:hover {
        color: white;
        background-color: rgb(7, 75, 7);
        transition: ease 0.4s;
    }

    .nav-active {
        transform: none;
    }

    #hem_bild {
        width: 50%;
        height: auto;
    }

    #section_1_hem {
        grid-area: s1;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sections_hem {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .articles_hem {
        padding: 50px;
    }

    #knapp_hem {
        padding: 50px;
        width: 500px;
        font-size: 1.7rem;
    }

    .articles_om_oss {
        padding: 40px;
    }

    #article_1_om_oss {
        height: 160px;
    }

    #article_hitta1_om_oss {
        height: 300px;
    }

    #article_hitta2_om_oss {
        height: 300px;
        width: 500px;
    }

    #article_3_om_oss {
        height: 200px;
    }

    #bild_om_oss {
        height: 240px;
        width: auto;
    }

    .divs_kost {
        padding: 40px;
    }

    .sections_traning {
        padding: 40px;
    }

    .articles_traning {
        width: 600px;
        height: 250px;
    }

    #footer_links a {
        width: 350px;
    }
}